
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: white;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
}

/*div {
	border: 1px solid Chocolate;
} */

.top-navigation {
    background-color: #fff;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #DDD;
    z-index: 9999;
}

.top-navigation .links {
	float: right;
	font-size: 1.04rem;
	margin-top: 1.7rem;
}

.top-navigation .links li {
	display: inline-block;
	margin-left: 1.563rem;
}


/*This one doesn't work--links look purple still with this code*/
/*top-navigation .links .active {
	color: #4c5058;
	font-weight: 500;
} */

.top-navigation .links a{
	text-decoration: none;
	color: #838994;
}

.top-navigation .links li.active a{
	color: #4c5058;
	font-weight: 500;
}	

.top-navigation .links :hover {
	color: #333333;
	cursor: pointer;
}

.content {
    padding: 0 0.938rem;
    margin: 0 auto;
    min-width: 37.5rem;
}

.top-navigation > .content {
    height: 4.375rem;
    width: 970px;
    margin: 0 auto;
}

/*IMAGE SECTION*/

.introduction {
	background-image: url('../images/first-background copy.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
	overflow:auto;
}

.introduction h1{
	margin-top: 17.5rem;
	font-size: 3.125rem;
}

.introduction h1, .introduction h3 {
	color: white;
	text-align: center;
	font-weight: 300;
}

.introduction .buttons{
	color: white;
	text-align: center;
	margin-top: 1.563rem;
}

button {
	width: 9.688rem;
	background-color:#f15a29;
	text-shadow: none;
	border-style:none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	color: white;
	font-size: 1.125rem;
}

.buttons :hover {
	background-color: #e8270c;
	cursor: pointer;
}

/*FOOTER SECTION*/

div {
	display: block;
}

.cases h2 {
	font-size: 2.75rem;
	margin:1.625rem 0 3.125rem;
	font-weight: 300;
}

.cases .content {
	margin-top: 7.875rem;
	color: #1d1e21;
	text-align: center;
}

ol, ul{
	list-style:none;
}

ul.devices {
	display: list-item;
	text-align: -webkit-match-parent;
}

.cases .devices h3{
	font-weight: 400;
	font-size: 1.563rem;
	margin:2.5rem 0px 1.875rem;
}

h3{
	display: block;
	-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

section.cases {
	margin:0
	padding: 0;
	border:0;
	vertical-align: baseline;
	box-sizing:border-box;
}

/*.cases .devices {
    display: inline-block;
    margin-right: -4px;
}
*/

.cases .devices > li{
	width: 33.333333%;
	float: left;
}
